.order {
	background: white;
	position: relative;
	margin: 10px auto;
	width: 90%;
	padding: 20px;
	height: fit-content;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-width: 700px;
	transition: 0.2s all linear;
	z-index: -2;
}
.order:hover {
	box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.2);
}
.orderItem {
	border-bottom: 1px solid gray;
	margin: 5px;
	padding: 5px;
	display: flex;
	height: fit-content;
}
.orderItem__image {
	width: 40%;
	max-width: 100px;
	object-fit: contain;
}
.orderItem__info {
	margin-left: 10px;
	align-self: center;
	display: flex;
	flex-direction: column;
}
.orderItem__rating {
	display: flex;
}
.order__details {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.order__footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.order__deleteBtn {
	background: #f0c14b;
	border: 1px solid;
	margin-top: 10px;
	border-color: #a88734 #9c7e31 #846a29;
	color: #111;
	padding: 3px;
}
