.payment {
	margin-top: 60px;
	background: white;
}
.payment__container > h1 {
	padding: 10px;
	text-align: center;
	font-weight: 400;
	background-color: rgb(234, 237, 237);
	border-bottom: 1px solid lightgray;
}
.payment__container > h1 a {
	text-decoration: none;
}
.payment__section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	margin: 0 20px;
	border-bottom: 1px solid lightgray;
}
@media screen and (min-width: 576px) {
	.payment__section {
		flex-wrap: wrap;
		flex-direction: row;
		align-items: flex-start;
	}
}
.payment__title {
	margin-bottom: 10px;
	flex: 0.2;
}
.payment__address,
.payment__items,
.payment__details {
	flex: 0.8;
}

.payment__buyBtn {
	background: #f0c14b;
	border-radius: 2px;
	height: 30px;
	border: 1px solid;
	cursor: pointer;
	margin-top: 10px;
	border-color: #a88734 #9c7e31 #846a29;
	color: #111;
	padding: 3px;
}
.payment__buyBtn:disabled {
	background: lightgray;
	border: none;
	color: white;
}
.cardEntry {
	max-width: 500px;
}
