.sidebar {
	display: flex;
	flex-direction: column;
	height: 0;
	justify-content: space-evenly;
	overflow: hidden;
	transition: all 0.3s linear;
	width: 100%;
	box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.3);
}
.sidebar__option {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	margin-right: 10px;
	padding-bottom: 5px;
	color: white;
	border-bottom: 1px solid lightblue;
}
.sidebar__optionLineOne {
	font-size: 1rem;
}
.sidebar__optionLineTwo {
	font-size: 1.3rem;
	font-weight: 800;
}
.sidebar__optionBasket {
	display: flex;
	align-items: center;
	color: white;
	margin-left: 10px;
}
.sidebar__basketCount {
	margin-left: 10px;
	margin-right: 10px;
}
.open {
	height: 40vh;
}
@media screen and (min-width: 768px) {
	.sidebar {
		display: none;
	}
}
