.checkout {
	margin-top: 60px;
	padding: 20px;
	background-color: white;
	height: max-content;
}
@media screen and (min-width: 768px) {
	.checkout {
		display: flex;
	}
}
.checkout__ad {
	width: 100%;
}
.checkout__title {
	margin-right: 10px;
	padding: 10px;
	border-bottom: 1px solid lightgray;
}
